@model IEnumerable<DJProject.Models.Events>

@{
    ViewBag.Title = "ListOfEventsQury";
}

<h2>ListOfEventsQury</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plase)
        </td>
        <td>
            @Html.ActionLink("Details","FullDescription",Model)
            @if(User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Delete","Delete",new { EventsID=item.EventId })
                @Html.ActionLink("Edit", "Edit", new { EventsID=item.EventId })
            }
        </td>
    </tr>
}

</table>
