@model DJProject.Models.Fidback

@{
    ViewBag.Title = "FullDescription";
}

<h2>FullDescription</h2>

<fieldset>
    <legend>Fidback</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Commant)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Commant)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrodCastId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrodCastId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
